
h1 {
    text-align: center;
    font-size:3rem;
}
h2 {
    font-size:1.5rem;
}
body { 

    background-color: rgb(255, 245, 109);
    color: black;
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    text-align: center;
    font-weight: 700;
    font-size:medium
}
div.about-me{
    display:flex;
    margin:auto;
    max-width: 70%;
    height:auto;
    align-items:center;
    flex-direction:column;
    border:solid black;
    background-color: pink;
    border-radius:12px;
}
div.friends{
    display:flex;
}
.profile-image{
    border-radius:50%;
    margin:small;
    transform: translateY(0px);
    transition:scale 0.5s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.profile-image:hover{
     animation: meow infinite 0.5s ease;
}
.profile-image:active{
    scale:-100%;
}

@keyframes meow{
    0% {
        transform:translateY(0px);
    }
    50%{
           transform: translateY(-20px);
    }
    100%{
        transform: translateY(0px);
    }
}