body { 

    background-color: rgb(255, 245, 109);
    font-family: 'Exo 2', sans-serif;
    font-size:14;
    color: black;
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

}