
h1 {
    font-size:3rem;
}
h2 {
    font-size:1.5rem;
}
span.fuck{
 font-size:2.5rem;
 font-weight: 700;
}
body { 
    display:grid;
    row-gap: 1.5em;
    grid-template-columns: auto auto;
    background-color: rgb(255, 245, 109);
    color: black;
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    text-align: center;
    font-weight: 500;
    font-size:medium
}
div.abt-me-head{
    line-height: 0.25;
    padding-bottom: 1rem;
    padding-top:1rem;
}
div.about-me{
    border:solid black;
    background-color: pink;
    border-radius:12px;
    padding-left: 5%;
    padding-right: 5%;
    width: auto;
    justify-self: center;
    grid-column-start:1 ;
    grid-column-end:3;
}
div.title{
    grid-column-start:1 ;
    grid-column-end:3;
}
div.socials{
    justify-self: center;
    grid-column-start:1 ;
    grid-column-end:3;
    border:solid black;
    background-color: pink;
    border-radius:12px;
    width:auto;
    padding-left: 5%;
    padding-right: 5%;

}
.social-link{
    width: 100px;
    height:50px;
}
.social-button{
}
div.friends{
    grid-column-start:1;
    grid-column-end:3;
    border:solid black;
    background-color: pink;
    border-radius:12px;
    width:auto;
    padding-left: 5%;
    padding-right: 5%;
    justify-self: center;
}
.profile-image{
    border-radius:50%;
    margin:small;
    transform: translateY(0px);
    transition:scale 0.5s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.profile-image:hover{
     animation: meow infinite 0.5s ease;
}
.profile-image:active{
    scale:-100%;
}
footer{
    grid-column-start:1;
    grid-column-end:3;
}

@keyframes meow{
    0% {
        transform:translateY(0px);
    }
    50%{
           transform: translateY(-20px);
    }
    100%{
        transform: translateY(0px);
    }
}